<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.model2.mvc.service.purchase.impl.ShoppingCartDao">
	
	<resultMap id="shoppingCartSelectMap" type="com.model2.mvc.service.dto.purchase.ShoppingCartItemDto">
		<result property="cartNo" column="cart_no" jdbcType="NUMERIC" />
		<result property="prodNo" column="prod_no" jdbcType="NUMERIC" />
		<result property="userId" column="user_id" jdbcType="VARCHAR" />
		<result property="prodName" column="prod_name" jdbcType="VARCHAR" />
		<result property="inventory" column="inventory" jdbcType="NUMERIC" />
		<result property="price" column="price" jdbcType="NUMERIC" />
	</resultMap>
	
	<insert id="insertItem" parameterType="shoppingCartItem">
		INSERT INTO 
		shopping_cart (cart_no, prod_no, user_id)
		VALUES (seq_shopping_cart_no.nextval, #{prodNo:NUMERIC}, #{userId:VARCHAR})
	</insert>
	
	<select id="getShoppingCartList" parameterType="string" resultMap="shoppingCartSelectMap">
		SELECT
		s.*, p.prod_name, p.inventory, p.price
		FROM shopping_cart s, product p
		WHERE s.user_id = #{value}
			AND s.prod_no = p.prod_no
	</select>
	
	<select id="checkShoppingCart" parameterType="shoppingCartItem" resultType="int">
		SELECT 
		COUNT(*)
		FROM shopping_cart
		WHERE prod_no = #{prodNo}
			AND user_id = #{userId}
	</select>

</mapper>